html{
	scrollbar-3dlight-color:#efefef;
	scrollbar-arrow-color:#000000;
	scrollbar-darkshadow-color:#999999;
	scrollbar-face-color:#000000;
	scrollbar-highlight-color:#000000;
	scrollbar-shadow-color:#cccccc;
	scrollbar-track-color:#E20A17;
}

table {
	width: 100%; 
	margin: 5; 
	padding: 5; 
	font-size: small
}
table td { 
	padding: 0; 
	border-width: 0; 
	vertical-align: top; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

div#content { 
	padding: 5px; 
	text-align: left;
}

div#content td { 
	padding: 3px;
}

body { 
	font-family: Tahoma, taipei; 
	color;#555c64; 
	font-size: 12px;
	background-image:url(images/bg.gif);
}

a { 
	font-family: Tahoma, taipei; 
	font-size: 12px; 
      font-weight: bold;
	text-decoration: none; 
	color: #0f0622; 
	font-style: normal
}

a:hover { 

	text-decoration: none;  
	font-family: Tahoma, taipei; 
	font-size: 14px; 
      font-weight: bold;
	color: #FFFFFF; 
	font-style: normal
}

td {  
	font-family: Tahoma, taipei; 
	color: #5D0B96; 
	font-size: 12px;
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;
}

input { 
	background-color : transparent; 
	color : #555c64; 
	font-family : Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; 
	font-size : 12px; 
	font-weight : normal;
	border-color : #000000;  
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px;
	text-indent : 2px;  
}

textarea {
	font-family: Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	background-color : transparent; 
	font-weight : bold; 
	border-color : #000000;  
	border-top-width : 1px; 
	border-right-width : 1px; 
	border-bottom-width : 1px; 
	border-left-width : 1px; 
	text-indent : 2px;
}

select {
	font-family: Tahoma, taipei, Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px;
	font-weight : bold;
	background-color:#99A5C4; 
}

img { border: 0;}

ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}

li { margin-left: 2px; list-style: disc inside;}

.odd {
	background-color: #ffffff;
}

.outer { 
	background-color: #765f85;
}

.even { 
	background-color: #FFFFFF;
}

th { 
	background-color: #90A9EA; 
	text-align: left; 
	padding: 3px;
}

.head { 
	background-color: #99A5C4; 
	padding: 3px;
}

.foot { 
	background-color: #99A5C4; 
	padding: 3px;
}

.comTitle {
	font-weight: bold; 
	margin-bottom: 2px;
}

.comText {padding: 2px;}

.comUserStat {
	font-size: 10px; 
	color: #555c64; 
	font-weight:bold; 
	border: 1px solid #cccccc; 
	background-color: #ffffff; 
	margin: 2px; 
	padding: 2px;
}

.comUserStatCaption {font-weight: normal;}

.comUserStatus {
	margin-left: 2px; 
	margin-top: 10px; 
	color: #555c64; 
	font-weight:bold; 
	font-size: 10px;
}

.comUserRank {margin: 2px;}

.comUserRankText {
	font-size: 10px;
	font-weight:bold;
}

.comUserRankImg {border: 0;}

.comUserName {}

.comUserImg {margin: 2px;}

.comDate {
	font-weight: normal; 
	font-size: smaller
}

.comDateCaption {
	font-weight: bold; 
	font-style: normal;
}

.item {border: 1px solid #555c64;}

.itemHead {
	background-color: #90A9EA; 
	color: #000000; 
	padding: 2px; 
	font-weight: bold; 
	text-align: left;
}
.itemInfo {
	text-align: right; 
	padding: 3px; 
	background-color: #99A5C4;
}

.itemTitle a {
	font-weight: bold; 
	color: #5d0b96; 
	background-color: transparent;
}

.itemPoster {font-size: 90%;}

.itemPostDate {font-size: 90%;}

.itemStats {font-size: 90%;}

.itemBody {padding-left: 5px; text-align: left}

.itemText {
	margin-top: 5px; 
	margin-bottom: 5px; 
	line-height: 1.5em;
}

.itemFoot {
	text-align: right; 
	padding: 3px; 
	background-color: #99A5C4;
}

.itemAdminLink {font-size: 90%;}

.itemPermaLink {font-size: 90%;}

.blockTitle {
	background-image: url(images/cengizjamila.jpg); 
	text-align:center; 
      font-size: 13px; 
	color: #FFFFFF; 
	padding: 2px; 
	font-weight: bold;
	width:170px;
	height:21px;
}

.blockTitle2 {
	background-image: url(images/cengizjamila.jpg); 
	color: #FFFFFF; 
	padding: 2px; 
	font-weight: bold;
	height:21px;
}

.blockTitle3 {
	background-image: url(images/cengizjamila.jpg); 
	text-align:center; 
	color: #FFFFFF; 
	padding: 2px; 
	font-weight: bold;
	width:170px;
	height:21px;
}

.blockContent {
	background-color: #bdbdc8; 
	padding: 2px;
}

td#mainmenu a {
	background-color: #bdbdc8; 
	display: block; margin: 0; 
	padding: 2px;
}
td#mainmenu a:hover {background-color: #E20A17;}

td#mainmenu a.menuTop {
	padding-left: 7px; 
	border-top: 1px solid #000000; 
	border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	border-left: 1px solid #cccccc;
}

td#mainmenu a.menuMain {
	padding-left: 7px; 
	border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	border-left: 1px solid #cccccc;
}

td#mainmenu a.menuSub {
	padding-left: 11px; 
	border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	border-left: 1px solid #cccccc;
}
dding-left: 7px; 
	border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	border-left: 1px solid #cccccc;
}

td#mainmenu a.menuSub {
	padding-left: 11px; 
	border-right: 1px solid #e5e5e5; 
	border-bottom: 1px solid #e5e5e5; 
	border-left: 1px solid #cccccc;
}
